In [1]:
import pandas as pd
import os

In [2]:
employee_data = csvpath = os.path.join("RawData", "employee_data1.csv")

In [3]:
employee_data_pd = pd.read_csv(employee_data, low_memory = False)
employee_data_pd.head()

   Emp ID           Name         DOB          SSN         State
0     214  Sarah Simpson  1985-12-04  282-01-8166       Florida
1      15  Samantha Lara  1993-09-08  848-80-7526      Colorado
2     411  Stacy Charles  1957-12-20  658-75-8526  Pennsylvania
3     166   Michelle Roy  1978-07-29  794-25-3944      Michigan
4      39  Joseph Rogers  1985-03-28  525-40-3515     Minnesota

In [ ]:
#The Name column should be split into separate First Name and Last Name columns.

In [ ]:
#The DOB data should be re-written into DD/MM/YYYY format

In [ ]:
#The SSN data should be re-written such that the first five numbers are hidden from view.

In [ ]:
#The State data should be re-written as simple two-letter abbreviations

In [ ]:
#Export the data to a text file