# Python Challenge: PyBoss Analysis
#### For this challenge, our company is developing Tuna 2.0, a world-changing snack food based on canned tuna fish. The company recently decided to purchase a new HR system, and unfortunately, the new system requires employee records be stored completely differently.  The primary task is to help bridge the gap by creating a Python script able to convert employee records to the required format by doing the following:
* The Name column should be split into separate First Name and Last Name columns.
* The DOB data should be re-written into DD/MM/YYYY format.
* The SSN data should be re-written such that the first five numbers are hidden from view.
* The State data should be re-written as simple two-letter abbreviations.

In [32]:
import pandas as pd
import datetime
import csv
import os

In [2]:
employee_data = csvpath = os.path.join("RawData", "employee_data1.csv")

In [3]:
employee_data_pd = pd.read_csv(employee_data, low_memory = False)
employee_data_pd.head()

   Emp ID           Name         DOB          SSN         State
0     214  Sarah Simpson  1985-12-04  282-01-8166       Florida
1      15  Samantha Lara  1993-09-08  848-80-7526      Colorado
2     411  Stacy Charles  1957-12-20  658-75-8526  Pennsylvania
3     166   Michelle Roy  1978-07-29  794-25-3944      Michigan
4      39  Joseph Rogers  1985-03-28  525-40-3515     Minnesota

In [4]:
# Checkout the data types
employee_data_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 5 columns):
Emp ID    650 non-null int64
Name      650 non-null object
DOB       650 non-null object
SSN       650 non-null object
State     650 non-null object
dtypes: int64(1), object(4)
memory usage: 25.5+ KB

In [5]:
# Dictionary of states with abbreviations
us_state_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
}

In [6]:
# Placeholders for lists of each column of data
emp_ids = employee_data_pd['Emp ID'].tolist()
emp_first_names = []
emp_last_names = []
emp_dobs = []
emp_ssns = []
emp_states = []

In [7]:
#The Name column should be split into separate First Name and Last Name columns
split_name = employee_data_pd['Name'].str.split(' ', expand=True)
emp_first_names = split_name[0].tolist()
emp_last_names = split_name[1].tolist()
emp_last_names[0]

'Simpson'

In [8]:
#The DOB data should be re-written into DD/MM/YYYY format
employee_data_pd['DOB'] = pd.to_datetime(employee_data_pd.DOB)
emp_dobs = employee_data_pd['DOB'].dt.strftime('%d/%m/%Y').tolist()
emp_dobs[0]

'04/12/1985'

In [20]:
#The SSN data should be re-written such that the first five numbers are hidden from view.
split_ssn = employee_data_pd['SSN'].tolist()
for item in split_ssn:
    item = item.replace(item[0:6],'***-**')
    emp_ssns.append(item)

emp_ssns[0]

'***-**-8166'

In [25]:
#The State data should be re-written as simple two-letter abbreviations
states = employee_data_pd['State'].tolist()
for s in states:
    abbrev = us_state_abbrev[s]
    emp_states.append(abbrev)
    
emp_states[0]

'FL'

In [29]:
# Zip the lists together
empdb = zip(emp_ids, emp_first_names, emp_last_names,
            emp_dobs, emp_ssns, emp_states)

In [33]:
#Export the data to a textfile
with open("PyBoss_Analysis/employee_data_reformatted2.csv", "w", newline="") as datafile:
    writer = csv.writer(datafile)
    writer.writerow(["Emp ID", "First Name", "Last Name",
                     "DOB", "SSN", "State"])
    writer.writerows(empdb)